/*generics */

*{
    margin: 0 auto;
    padding: 0;
}

body{
    background-color: lightgray;
    font-family: sans-serif;
}

/* header */

h1 {
    display: inline-block;
    vertical-align: middle;
    line-height: 50px;
    margin: 10px;
}

img {
    vertical-align: middle;
    height:50 px;
    margin-left: 15px ;
}


header{
    width: 100%;
    background-color: white;
}

/* content */

.container{
    margin: 100px auto 0;
    background-color: white;
    width: 1024px;
    padding: 20px;
}


.blue-button{
    border: 1px solid lightgrey;
    padding: 5px;
    color: white;
    background-color: deepskyblue;
}

.white-button{
    border: 1px solid lightgrey;
    padding: 5px;
    color: white;
    background-color: trasparent;
}

.list{
    margin-top: 10px;
}

ul{
    list-style: none;
    margin-bottom: 20px;
}

ol{
    list-style: none;
}

li{
    margin-bottom: 10px;
}

.check-mark{
    border: 1px solid green;
    color: green;
    border-radius: 50%;
    padding: 2px;
    margin-right: 10px;
}

.uncheck-mark{
    border: 1px solid red;
    color: red;
    border-radius: 50%;
    padding: 2px;
    margin-right: 10px;
}

.editorial{
    display: inline-block;
    font-size: 0.7rem;
    border-radius: 20px;
    padding: 5px 15px;
    background-color: #049;
    color: white;
    text-align: center;
}

.q1-goals{
    display: inline-block;
    font-size: 0.7rem;
    border-radius: 20px;
    padding: 5px 15px;
    background-color: purple;
    color: white;
    text-align: center;
}

.recruiting{
    display: inline-block;
    font-size: 0.7rem;
    border-radius: 20px;
    padding: 5px 15px;
    background-color: lightseagreen;
    color: white;
    text-align: center;
}

.mobile{
    display: inline-block;
    font-size: 0.7rem;
    border-radius: 20px;
    padding: 5px 15px;
    background-color: orange;
    color: white;
    text-align: center;
}

.website{
    display: inline-block;
    font-size: 0.7rem;
    border-radius: 20px;
    padding: 5px 15px;
    background-color: palevioletred;
    color: white;
    text-align: center;
}

.sales{
    display: inline-block;
    font-size: 0.7rem;
    border-radius: 20px;
    padding: 5px 15px;
    background-color: olivedrab;
    color: white;
    text-align: center;
}